beautifulsoup4==4.6.0
Flask==1.1.1
gunicorn==19.10.0
html5lib==0.999999999
Jinja2==2.11.1
numpy==1.16.6
pandas==0.24.2
pygobject==3.26.1
pyparsing==2.4.7
python-apt==1.6.5+ubuntu0.2
webencodings==0.5
ast
pickle
praw
nltk
